<footer>
	<div class="footer-container">
		<div class="footer-inner">
			<div class="footer-column first">
				<div class="footer-logo">
					<a href="https://teamworks.com/">
						<img
							src="https://teamworksstg.wpengine.com/wp-content/uploads/Teamworks-Horizontal.svg"
							alt=""
						/></a>
				</div>

				<div class="footer-signin-btn">
					<a href="https://teamworks.com/login/">
						Sign In
					</a>
				</div>

				<div class="footer-link-group">
					<ul>
						<p>(202) 875-8930</p>
						<li><a
								href="mailto:info@teamworks.com"
							>info@teamworks.com</a></li>
					</ul>
				</div>

				<div class="footer-social-icons">
					<div class="footer-icon">
						<a href="https://twitter.com/teamworks">
							<img
								src="https://teamworksstg.wpengine.com/wp-content/uploads/x-logo.webp"
								alt=""
							/></a>
						</a>
					</div>
					<div class="footer-icon">
						<a href="https://www.instagram.com/teamworks">
							<img src="https://teamworksstg.wpengine.com/wp-content/uploads/instagram-logo.webp" alt="">
						</a>
					</div>
					<div class="footer-icon">
						<a href="https://www.linkedin.com/company/teamworksapp/">
							<img src="https://teamworksstg.wpengine.com/wp-content/uploads/linkedin-logo.webp" alt="">
						</a>
					</div>
				</div>

				<div class="footer-rest-web">
					<div class="footer-extra-items">
						<a href="https://play.google.com/store/apps/details?id=com.teamworks.twmobile.next">
							<img width="225" height="67" src="https://teamworksstg.wpengine.com/wp-content/uploads/google-play.webp" alt="">								
						</a>
					</div>
					<div class="footer-extra-items">
						<a href="https://itunes.apple.com/us/app/teamworks/id1271258473?mt=8">
							<img width="198" height="67" src="https://teamworksstg.wpengine.com/wp-content/uploads/apple-app-store.webp" alt="">								
						</a>
					</div>
					<div class="footer-extra-item">
						<p>
							©2024 Copyright Teamworks Innovations. All Rights Reserved.						
						</p>
					</div>
				</div>

			</div>
			<div class="footer-column">
				<div class="footer-link-group">
					<h6>Industries</h6>
					<ul>
						<li><a
								href="https://teamworks.com/professional-sports/"
							>Professional Sports</a></li>

						<li><a
								href="https://teamworks.com/collegiate-sports/"
							>Collegiate Sports</a></li>
						<li><a
								href="https://teamworks.com/olympics-ngbs/"
							>Olympic &amp; NGBs</a></li>
						<li><a
								href="https://explore.teamworks.com/military"
							>Military &amp; Tactical</a></li>
					</ul>
				</div>
				<div class="footer-link-group">
					<h6>Company</h6>
					<ul>
						<li><a href="https://teamworks.com/about-us/">About Us</a></li>
						<li><a href="https://teamworks.com/careers/">Careers</a></li>
						<li><a href="https://teamworks.com/customer-success">Customer Success</a></li>
						<li><a href="https://teamworks.com/integrations">Integrations</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-column">
				<div class="footer-link-group">
					<h6>Products</h6>
					<ul>
						<li><a href="https://teamworks.com/hub/">Hub</a></li>
						<li><a href="https://teamworks.com/camps/">Camps</a></li>
						<li><a href="https://teamworks.com/inventory-management/">Inventory Management</a></li>
						<li><a href="https://teamworks.com/ams/">AMS</a></li>
						<li><a href="https://teamworks.com/nutrition/">Nutrition</a></li>
						<li><a href="https://teamworks.com/academics/">Academics</a></li>
						<li><a href="https://teamworks.com/pathways/">Pathways</a></li>
						<li><a href="https://teamworks.com/pulse/">Pulse</a></li>
						<li><a href="https://teamworks.com/influencer/">Influencer</a></li>
						<li><a href="https://teamworks.com/collectives/">Collectives</a></li>
						<li><a href="https://teamworks.com/recruiting/">Recruiting</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-column">
				<div class="footer-link-group">
					<h6>Resources</h6>
					<ul>
						<li><a href="https://teamworks.com/contact/">Contact Us</a></li>
						<li><a href="https://teamworks.zendesk.com/hc/en-us/requests/new">Support Home</a></li>
						<li><a href="https://learn.teamworks.com/?__hstc=51647990.3220433fefe6a6ff4b8f5a9304563e43.1711666950609.1711666950609.1711666950609.1&__hssc=51647990.1.1711666950609&__hsfp=851621926">Learning Portal</a></li>
						<li><a href="https://teamworks.com/blog/">Blog</a></li>
					</ul>
				</div>
				<div class="footer-link-group">
					<h6>Legal</h6>
					<ul>
						<li><a href="https://teamworks.com/accessibility/">Accessibility</a></li>
						<li><a href="https://teamworks.com/privacy-policy/">Privacy Policy</a></li>
					</ul>
				</div>
			</div>

			<div class="footer-column mobile">
				<div class="footer-rest-mobile">
					<div class="footer-extra-items">
						<a href="https://play.google.com/store/apps/details?id=com.teamworks.twmobile.next">
							<img width="225" height="67" src="https://teamworksstg.wpengine.com/wp-content/uploads/google-play.webp" alt="">								
						</a>
					</div>
					<div class="footer-extra-items">
						<a href="https://itunes.apple.com/us/app/teamworks/id1271258473?mt=8">
							<img width="198" height="67" src="https://teamworksstg.wpengine.com/wp-content/uploads/apple-app-store.webp" alt="">								
						</a>
					</div>
					<div class="footer-extra-item">
						<p>
							©2024 Copyright Teamworks Innovations. All Rights Reserved.						
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>